.idea/
run/
logs/
.DS_Store
*.swp
coverage/
!.autod.conf.js

*/dist/
*/node_modules/
*/yarn-error.log
*/yarn-debug.log*
*/package-lock.json

# client https://github.com/liangwei0101/egg-demo/tree/master?tab=readme-ov-file
